.about_us {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    height: 100%;
    margin-left: calc((100% - 1200px) / 2);

    @media (max-width: 1200px) {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
        min-width: 90%;
        min-height: 90%;
        justify-content: center;
    }

    @media (max-width: 628px) {
        min-width: 100%;
        min-height: 100%;
    }

    .hero-image-wrapper {
        display: flex;
        justify-content: center;
        .hero-image-text {
            left: 0;
            align-self: center;
            top: -10%;
            @media (max-width: 1200px) {
                min-width: 60%;
                min-height: 50%;
                font-size: 20px;
            }
        }
    }

    .about_us_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        @media (max-width: 1200px) {
            padding: 10%;
            padding-top: 0;
        }

        @media (max-width: 628px) {
            margin: 0;
            
        }

        .title {
            margin: 0;
            padding: 0;
            font-size: 50px;
            align-self: flex-start;
            justify-self: flex-start;
        }

        .presentation {
            padding-bottom: 5%;
            font-size: 15px;

            @media (max-width: 1200px) {
                font-size: 20px;
            }
        }

        .center-icons {
            display: flex;
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
            flex-direction: column;
            align-items: space-between;
            height: 100%;
            width: 100%;
            .top {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap-reverse;
                .kiqa-logo {
                    align-self: center;
                    width: 500px;
                    object-fit: fill;
                    margin-left: 5%;
                    margin-right: 15%;
                }

                .social-media {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5%;
                    margin-right: 10%;

                    .media-icon {
                        height: 35px;
                        width: 20px;
                        color: rgb(0, 0, 0);
                    }
                }
            }
            .bottom {
                .subTitle {
                    font-size: 18px;
                    padding: 0;
                    margin: 0;
                }
                .description {
                    font-size: 15px;
                    border: 1px solid black;
                    margin: 2%;
                    margin-left: 0;
                    padding: 3%;

                    @media (max-width: 1200px) {
                        font-size: 20px;
                        overflow: scroll;
                    }

                    // @media (max-width: 628px) {
                    //     font-size: 20px;
                    //     overflow: scroll;
                }
            }
        }
    }
}
