.change-user-data-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.instructions {
  font-size: 16px;
  border-radius: 2px;
  z-index: 2;
  width: 200px;
  position: absolute;
  top: 35px;
  background-color: rgb(177, 177, 177);
  color: black;
  padding: 5px 0px 5px 5px;
  font-size: medium;
  border-radius: 4px;
}
