.header-content {
  display: flex;
  width: 1200px;
  margin-left: calc((100% - 1200px) / 2);
  justify-content: space-between;
  @media (max-width: 1200px) {
    margin: 0px;
    width: 100%;
    padding: 0px;
  }
}

@media (max-width: 576px) {
  .header-content :nth-child(1) {
    order: 3;
  }
  .header-content :nth-child(2) {
    order: 3;
  }
  .header-content :nth-child(3) {
    order: 2;
  }
  .header-content :nth-child(4) {
    order: 3;
  }
  .header-content :nth-child(5) {
    order: 3;
  }
}

.main-header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  z-index: 3;
  top: 0px;
  background-color: white;
  transition: all 0.5s;
  @media (max-width: 1200px) {
    width: 100%;
    padding: 0;
  }
}

.main-header-small {
  padding: 0;
}
